---
interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<div class="py-4">
  <h2 class="text-3xl text-slate-100"> {heading}</h2>
  <hr class="border-1 border-slate-300">
  <slot/>
</div>

