---
import MetaPage from "@layouts/MetaPage.astro";
---

<MetaPage title="404">
  <h1 class="font-extrabold text-4xl text-slate-50 underline mb-6">
    Error 404
  </h1>

  <p class="text-slate-100">Page Not Found</p>
</MetaPage>
