---
interface Props {
  base: string;
  links: Array<string>;
}

const { base, links } = Astro.props;
---

<nav class="flex gap-3 flex-row m-0 h-11 pt-1 items-baseline">
  <a
    class="text-slate-200 font-semibold font-mono text-2xl px-4"
    href="/"
  >
    {base}
  </a>

  {
    links.map((l) => (
      <a
        class={`
          font-bold text-lg font-mono
          ${Astro.url.pathname.startsWith(l)
            ? "text-slate-200 underline"
            : "text-slate-400"
          }
        `}
        href={l}
      >
        {l}
      </a>
    ))
  }
</nav>
