---
interface Props {
  //TODO: Content: Markdown
}
---

<div>

  <h1>Hello World</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac magna ac
    lacus ornare faucibus. Nunc id pretium eros. Suspendisse dignissim augue
    vitae dolor maximus, eu mollis odio vehicula. Nulla enim risus, sollicitudin
    a fermentum vel, eleifend non leo. Aenean bibendum est a aliquet rhoncus.
    Sed iaculis sapien diam, sed interdum mauris posuere aliquam. Etiam sagittis
    quam at orci placerat porttitor. Curabitur ultricies, neque nec commodo
    sollicitudin, lacus risus malesuada leo, vel ullamcorper ipsum metus sit
    amet tellus.
  </p>
  <p>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia curae; Nam quis fringilla ipsum, et rutrum erat. Quisque convallis
    arcu nec ex sollicitudin cursus. Praesent pharetra in lorem vitae dictum.
    Vestibulum bibendum a ante nec ornare. Nam consectetur ex vel placerat
    suscipit. Cras eu varius libero. Sed ut imperdiet velit, id placerat ex.
    Phasellus ipsum felis, hendrerit finibus arcu et, eleifend rutrum velit. In
    interdum, ante vitae dignissim porttitor, mauris ipsum fringilla lectus, eu
    faucibus nunc lectus eget lectus. Morbi pretium tempus sapien. Donec ornare
    congue erat eu tincidunt. Suspendisse convallis tincidunt eros, eu fringilla
    lorem tempor et. Cras leo nunc, congue ac nunc ac, mattis consequat dolor.
  </p>
  <p>
    Cras luctus lorem at eros suscipit pharetra. Quisque lacus ante, fringilla
    nec tortor eget, feugiat placerat augue. Vivamus eleifend tristique neque
    sit amet elementum. Fusce condimentum dui in justo sagittis placerat. Proin
    malesuada placerat ligula a accumsan. Donec finibus erat ac metus consequat
    vestibulum nec sed nulla. Phasellus eget luctus leo. Mauris eu leo diam. Sed
    magna metus, ultricies porta euismod vitae, dapibus tempor velit.
    Pellentesque dignissim quam in porttitor tempor. In efficitur justo id erat
    tempor tempus. Aenean tincidunt lectus mattis semper fringilla. Phasellus
    fringilla metus et convallis venenatis.
  </p>
  <p>
    Nunc tellus sem, tincidunt eu ex in, ullamcorper consectetur massa.
    Vestibulum aliquam, orci id malesuada fringilla, velit nisi rutrum purus,
    faucibus dapibus risus nulla eget lacus. Ut fermentum nisi ac venenatis
    pulvinar. Proin ex ligula, pellentesque vulputate ipsum at, bibendum
    hendrerit odio. Nunc congue cursus odio, in rhoncus enim finibus sit amet.
    Vivamus velit turpis, maximus quis elit eget, scelerisque semper neque.
    Mauris a est consequat, ultricies lectus in, rutrum nisi. Donec eget tempus
    justo. Vestibulum lectus erat, mattis scelerisque tortor nec, blandit
    tristique massa. Nullam a lectus in lectus elementum pharetra. Vestibulum
    sit amet eleifend sapien. Vestibulum ex justo, tincidunt ut hendrerit at,
    consectetur nec sapien.
  </p>
  <p>
    Mauris non tortor arcu. Cras sit amet augue ac justo porta hendrerit sed sed
    massa. Fusce rutrum, libero sit amet facilisis varius, arcu ex pellentesque
    nisl, a auctor neque arcu vel velit. Duis accumsan nunc lacus, vitae pretium
    velit aliquet eget. Nullam blandit luctus consequat. Sed sodales ante non
    hendrerit facilisis. Proin sed erat quam. Duis fermentum facilisis nulla in
    dapibus. Orci varius natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus.
  </p>
</div>
<style>
  div {
    background-color: white;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
  }
  @media screen and (max-width: 770px) {
    div {
      max-width: 100%;
    }
  }
</style>
