---
import NavLink from "@components/NavLink.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <title>{`PT | ${title}`}</title>
  </head>
  <body class="bg-slate-900">
    <header
      class="bg-slate-800 w-full h-12 m-0 shadow-slate-800 shadow-lg border-solid border-b-4 border-slate-200"
    >
      <nav class="flex gap-3 flex-row m-0 h-11 pt-1 items-baseline">
        <a
          class="text-slate-200 font-semibold font-JetBrains-Mono text-2xl px-4"
          href="/"
        >
          PT.Blog_
        </a>
        <NavLink link="/blog" />
      </nav>
    </header>
    <main class="w-full h-fit">
      <slot />
    </main>
  </body>
</html>
