---
import Chrome from "@layouts/Chrome.astro";
---

<Chrome title="Home">
  <div class="w-full flex flex-row min-h-96 justify-center">
    <div
      class="bg-slate-800 border border-slate-200 p-6 my-6 lg:my-20 lg:p-20 lg:w-5xl"
    >
      <article class="prose prose-invert prose-slate font-JetBrains-Mono">
        <slot />
      </article>
    </div>
  </div>
</Chrome>
