---
import Chrome from "@layouts/Chrome.astro";
---

<Chrome title="Home">
  <div class="w-full flex flex-row min-h-96 justify-center">
    <div
      class="max-w-7xl min-w-96 bg-slate-800 border border-slate-200 my-20 p-20"
    >
      <article class="prose prose-invert prose-slate font-JetBrains-Mono">
        <slot />
      </article>
    </div>
  </div>
</Chrome>
