---
import Chrome from "@layouts/Chrome.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Chrome title={title}>
  <div class="w-full flex flex-row justify-center">
    <div
      class="bg-slate-800 border w-full border-slate-200 p-6 my-6 lg:my-20 lg:p-20 lg:w-5xl lg:max-w-4xl flex flex-row justify-center"
    >
      <article
        class="prose prose-invert prose-slate font-JetBrains-Mono w-full"
      >
        <slot />
      </article>
    </div>
  </div>
</Chrome>
