---
import PaddedPage from "./PaddedPage.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<PaddedPage title={title}>
  <div class="flex flex-row justify-center">
    <article
      class={`
        prose prose-invert prose-slate 
        w-full
      `}
    >
      <slot />
    </article>
  </div>
</Page>
